*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo{
    width: 70px;
}

.nav-list,
.btn-cnt{
    display: none;
}

.fa-bars{
    padding: 5px;
}

header,
.hero,
.second-inner,
.video-cont,
.fifth-img,
.seventh-inner,
footer{
    max-width: 1320px;
    margin: 0 auto;
}

.hero{
    text-align: center;
}

.hero-title{
    font-size: 6rem;
    font-family: "Caveat", serif;
    font-weight: 700;
    margin-top: 3rem;
    line-height: 1;
}

.platform{
    font-family: "Caveat", serif;
    background-image: url(/images/hero-title.svg);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: contain;
    white-space: nowrap;
}

.hero-subtitle{
    font-family: "Caveat", serif;
    font-size: 4rem;  
    font-weight: 700;
    margin-top: .5rem;
}

.hero-btn{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn{
    color: white;
    background-color: #714b67;
    border-color: #714b67;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    background-color: #604058;
    border-color: #5a3c52;
}

/* .free{
    display: none;
} */

.meet-advisor{
    color: #714b67;
    background-color: #F3F4F6;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.meet-advisor:hover{
    background-color: #fafafa;
    border-color: #fafafa;
}

.price-tag{
    display: none;
}

/* second section */

.second{
    background-color: #F3F4F6;
}

.second-inner{
    width: 50%;
    margin: 0 auto;
}

.background-img{
    width: 100%;
}

.figures{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    font-weight: 600;
    text-align: center;
}

figure{
    margin-bottom: 2rem;
}

figure img{
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.75rem;
    background-color: white;
}


.view-all-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

/* slider toggle */

.inp{
    display: flex;
    gap: 15px;
}

.switch{
    display: none;
}

.inp-lbl{
    position: relative;
    display: block;
    width: 3rem;
    height: 1.5rem;
    margin-bottom: 15px;
    cursor: pointer;
}

.slide-cont{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border: 1px solid #9c7b94;
    border-radius: 20px;
    transition: all .3s ease;
    
}

.slide-cont::after{
    position: absolute;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: #111827;
    top: 2px;
    left: 3px;
}

.switch:checked + .slide-cont{
    
    background: #714B67;
}
.switch:checked + .slide-cont::after{
    transform: translateX(1.4rem);
    background: white;
}

.lbl-data{
    color: #714b67;
    font-weight: 600;
    margin-top: 2px;
}

.view-all-btn{
    color: #017e84;
    text-decoration: none;
    font-weight: 600;
}

.right-arrow{
    width: 40px;
}


/* third section */

.third{
    background-color: #F3F4F6;
}

.third-cont{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.first-msg{
    padding: 3rem;
}

.second-msg{
    padding-bottom: 3rem;
}

/* fourth section */

.fourth{
    background-color: #F3F4F6;
    text-align: center;
}

.fourth-title{
    font-size: 5rem;
    font-family: "Caveat", serif;
    margin-bottom: 6rem;
}

/* fifth section */

.fifth{
    background-color: #F3F4F6;
    text-align: center;
}

.fifth-title{
    font-size: 5rem;
    font-family: "Caveat", serif;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.fifth-img,
.img1{
    width: 100%;
}

.fifth-lower{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 5rem;
    line-height: 1.5;
}

.down-arrow{
    rotate: 40deg;
    padding: 1.5rem 0;
}

.compare{
    padding-bottom: 6rem;
}

.compare-link{
    font-size: 2rem;
    font-family: "Caveat", serif;
    font-weight: 700;
    text-decoration: none;
    color: #714B67;
}

.yt-logo{
    width: 45px;
    vertical-align: middle;
}

.sixth{
    text-align: center;
}

.sixth-title{
    font-size: 5rem;
    font-family: "Caveat", serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.products-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1320px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.product{
    width: 25%;
    flex: 0 0 auto;
    text-align: center;
    padding-bottom: 3rem;
}

.img-cont{
    width: 225px;
    height: 225px;
    background: #F3F4F6;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.product-img{
    width: 100%;
}

.img-title{
    color: #111827;;
    width: fit-content;
    margin: 0 auto;
}

.seventh{
    background: #F3F4F6;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    padding: 6rem 0;
}



.seventh-title{
    font-size: 5rem;
    line-height: 1;
    font-family: "Caveat", serif;
    font-weight: 700;
    color: #111827;;
    margin-bottom: 3rem;
}

.left-right{
    display: flex;
    gap: 30px;
}

.left-cont div,
.right-cont div{
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.left-cont h4,
.right-cont h4{
    margin-bottom: 1.5rem;
    color: #111827;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 600;
}

.left-cont p,
.right-cont p{
    font-size: 1.25rem;
    color: #2c3549;
}

.left-1-p1{
    margin-bottom: 16px;
}

.left-cont a,
.right-cont a,
.left-2-img{
    margin-top: 1.5rem;
}

.left-3-p{
    font-size: 1.35rem !important;
}
