*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo{
    width: 70px;
}

.nav-list,
.btn-cnt{
    display: none;
}

.fa-bars{
    padding: 5px;
}

header,
main,
footer{
    max-width: 1320px;
    margin: 0 auto;
}

.hero{
    text-align: center;
}

.hero-title{
    font-size: calc(1.725rem + 5.7vw);
    font-family: "Caveat", serif;
    font-weight: 700;
    margin-top: 3rem;
    line-height: 1;
}

.platform{
    font-family: "Caveat", serif;
    background-image: url(/images/hero-title.svg);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: contain;
    white-space: nowrap;
}

.hero-subtitle{
    font-family: "Caveat", serif;
    font-size: calc(1.525rem + 3.3vw);  
    font-weight: 700;
    margin-top: .5rem;
}

.hero-btn{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn{
    color: white;
    background-color: #714b67;
    border-color: #714b67;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    background-color: #604058;
    border-color: #5a3c52;
}

.free{
    display: none;
}

.meet-advisor{
    color: #714b67;
    background-color: #F3F4F6;
    margin-left: .75rem;
}

.meet-advisor:hover{
    background-color: #fafafa;
    border-color: #fafafa;
}

.price-tag{
    display: none;
}

/* second section */

.second{
    background-color: #F3F4F6;
}